@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: #24252A;  --> color principal*/
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif!important;
}

main {
  overflow: hidden;
}

.body__fondo{
  background-image: url("../assets/fondofondo.jpg");
}
/* Parámetros generales*/

.nav__color{
  background-color: #652d91!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffdd17;
}

.separador{
  color: black;

  padding-left: 6rem;
  padding-right: 6rem;
}

.espacio__blanco{
  display: block;
  padding: 1rem;
}

.hrSimple{
  display: block;
  padding-top: 30rem;
  opacity: 0%;
}

.padtop{

}

@media (max-width:768px){
.padtop{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

}


/* NAV Y REUTILIZABLES INICIO */

.hero {
	position: relative;
	background-image: url("../assets/imagen9.png");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
  
  
}

.hero h1 {
	font-size: 5rem;
	font-weight: 800;
	margin: 0;
	padding: 0;
  color: #ffffff;
  }


.hero p {
	padding: 0;
	margin: 1em 0 0 0;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
  color: #ffffff;

}

.btn1 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: #652d91;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;

}

.btn1:hover {
	background-color: #530391;
	color: #ffffff;
	text-decoration: none;
  
}

.oscure{
  background: rgba(0,0,0,.4);
  padding: 2rem;
}

/* HERO SECTION */

.descripcion__contenedor {
  font-size: 2rem; 
  background-color: #ffffff;
}

.video__texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

/* VIDEO + DESCRIPCION */

.carousel-indicators {
  position: static;
}
.carousel-indicators li {
  width: 300px;
  height: 100%;
  opacity: 0.8;
}

/* CARRUSEL */

.site-footer
{
  background-color:#652d91;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#ffffff;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.footer-links a
{
  color:#ffffff
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons
{
  text-align:right
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffffff
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#13d41def;
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998;
}

.social-icons a.instagram:hover
{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social-icons a.whatsapp:hover
{
  background-color:#13d41def;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.site-footer img{
  width: 10.5rem;
}

/* FOOTER NUEVO */

.nosotros{
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: 1.5rem;
}

@media (max-width: 425px){
  .nosotros{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}

@media (min-width: 1920px) {
  .bigResolucion{
    height: 400px;
  }
}

/* NOSOTROS PAGINA */

@media (min-width: 1440px){
  .BigFormulario{
    width: 40%!important;
  }
}

@media (min-width: 2560px){
  .BigFormulario{
    width: 30%!important;
  }
}

.ajustarImagen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* CONTACTO PAGINA */

#galeria__equipamiento .col-lg-4 {
  padding: 2.5rem;
}

#galeria__equipamiento img{
  width: 100%;
  height: 100%;
}

 @-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
            transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}

.kenburns-left:hover{
	-webkit-animation: kenburns-left 2s ease-out both;
	        animation: kenburns-left 2s ease-out both;
}

/* EQUIPAMIENTO GALERIA   */

.ul__contacto{
  list-style: none;
  padding: 0;
}

.logo__contacto{
  text-align: center;
  font-size: 3em;
  color: black;
}

.logo__contacto span{
  color: #662d91b9;
}

.contacto-envoltura {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-envoltura > * {
  padding: 1em;
}

.contacto-form {
  background: #652d91;
}

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form label {
  display: block;
}

.contacto-form form p {
  margin: 0;
  padding: 1em;
}

.contacto-form form .block {
  grid-column: 1 / 3;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #e7c713af;
}

.contacto-form form button {
  background: #e7c713af;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
    background: #e7c713fd;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contacto-info {
  background: #662d91b9;
}

.contacto-info h4, .contacto-info ul, .contacto-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* FORMULARIO DE CONTACTO FIN */

.horarios {
display: flex;
flex-direction: column;
width: 100%;
background-color: #652d91;
}

/* SECCION CLASES */
