.hero {
	position: relative;
	background-image: url("../assets/imagen9.png");
	min-height: 100vh;
	background-size: cover;
	background-position: center;
    
    & h1 {
        font-size: 5rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
      color: #ffffff;
      }
      
      & p {
          padding: 0;
          margin: 1em 0 0 0;
          font-size: 20px;
          font-weight: 500;
          text-align: justify;
        color: #ffffff;
      }
}

/* HERO */