* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #24252A;  --> color principal*/
  }
  
  html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif!important;
  }
  
  main {
    overflow: hidden;
  }

/* Parámetros generales*/