$colores:(
colorV: #652d91,
colorVoscuro: #530391,
colorVclaro: #662d91b9,
colorB: #ffffff,
colorG: #bbb,
colorN: rgb(0, 0, 0),
colorNoscure: rgba(0,0,0,.4),
colorA: #e7c713fd,
colorAclaro: #ffdd17,
colorAoscuro: #e7c713af,
colorAz: #3366cc,
colorWhatsapp: #13d41def,
colorFacebook: #3b5998
);

/* MAP DE COLORES PRINCIPALES */

$boxShadow: 0 0 20px 0 rgba(255, 255, 255, .3);

/* VARIABLE */